doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Narrow Jumbotron Template for Bootstrap
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='stylesheets/jumbotron-narrow.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src='javascripts/ie8-responsive-file-warning.js')
    script(src='javascripts/js/ie-emulation-modes-warning.js')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li.active(role='presentation')
              a(href='#') Home
            li(role='presentation')
              a(href='#') About
            li(role='presentation')
              a(href='#') Contact
        h3.text-muted پروژه ی مجلس
      .jumbotron
        h1 نام نماینده
        h4
          li سوابق 
          p
            | سوابق و تحصیلات نماینده......
        h4
          li تحصیلات
          p
            | سوابق و تحصیلات نماینده......
        h4
          li سال تولد
          p
            | سوابق و تحصیلات نماینده......
        
      .row.marketing
        .col-lg-6
          h4 تعداد آرا
          p
            |تعداد رای
          h4 درصد رای
          p
            | در صد رای
          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
        .col-lg-6
          h4 Subheading
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 Subheading
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
      footer.footer
        p © Company 2014
    // /container
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='javascripts/ie10-viewport-bug-workaround.js')
    
