// The essential styling

.row {
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.p{
  font-size: 100px;
}
.cell {
  display: table-cell;
  flex: 1;
  flex-direction: column;
  position: relative;
}
.panel {
  padding-top: 50px;
}
.panel-heading {
  font-size: 35px;
  text-align: right;
}
@supports(display: flex) {
  .row {
    display: flex;
  }
  // display: block is needed to allow inline-block content inside a cell, if there is vertical alignment, we need display: flex
  .cell {
    display: block;
  }
  .cell-valign-middle,
  .cell-valign-bottom {
    display: flex;
  }
}


.cell-min {
  width: 1%;
  flex: none auto;
}

.cell-max {
  width: 100%;
  flex: 1 100%;
}


.row {
  border-collapse: seperate;
  border-spacing: 8px 0;
  padding: 4px;
}

.cell {
  border-radius: 6px;
  background: rgba(#888, 0.85);
  margin-right: 8px;
  padding: 6px;
}
.jumbotron
{
  text-align: right;
}

.cell.cell-nowrap {
  overflow: hidden;
  white-space: nowrap;
}

.cell.cell-valign-middle {
  vertical-align: middle;
  text-align: right;
}
.cell.cell-valign-middle-aks {
  vertical-align: middle;
  justify-content: center;

}

.cell.cell-valign-bottom {
  vertical-align: bottom;
  justify-content: flex-end;
}

.cell.cell-align-center {
  text-align: bottom;

}

.cell.cell-align-right {
  text-align: right;
}

.cell.cell-100px {
  flex: none;
  width: 100px;
  max-width: 100px;
}
